@page
@model IEnumerable<WebApplication1.Models.Article>
@{
    ViewData["Title"] = "Article in Action";
}
<h1>@ViewData["Title"]</h1>

<hr />
@foreach (var article in Model)
{
    <h2>@article.Title</h2>
    <h4>Posted by: @article.Author at @article.DateCreated</h4>
    <p>@article.Body</p>
}
